body {
  margin: 0;
}
h1 {
  margin-top: 0;
}
.top-container {
  background-color: #E1FFEE;
}

.bottom-container {
  height: 200px;
  width: 200px;
  background-color: red;
}

.middle-container {
  height: 200px;
  width: 200px;
  background-color: green;
}
.pro {
  text-decoration: underline;
}
